/*  Header Section    */

body {
    padding:2em;
    font-family: Montserrat, Arial;
    min-width:300px;
}

header {
    margin-bottom: 3em;
}

h1.top-title {
    text-align:center;
    font-size: 25px;
}

h2.top-subtitle {
    text-align:center;
    padding-top:1em;
    font-size:16px;
    text-align: center
}



/***** END Header Section    */



/*  Newsletter Body Section    */

div.main-content {
    margin-top:2em;
    margin-bottom:3em;
}

div.box1 {
    width: 152px;
    height: 104px;
    max-width:100%;
    background-image: url("./img/newsletter1.png");
    background-position: center;
}

div.box2 {
    width: 152px;
    height: 104px;
    max-width:100%;
    background-image: url("./img/newsletter2.png");
    background-position: center;
}

div.box3 {
    width: 152px;
    height: 104px;
    max-width:100%;
    background-image: url("./img/newsletter3.png");
    background-position: center;
}

div.box4 {
    width: 152px;
    height: 104px;
    max-width:100%;
    background-image: url("./img/newsletter4.png");
    background-position: center;
}


h1.news-title {
    font-size:20px;
    font-weight:800
}

p.subttitle-title {
    font-size:20px;
    font-weight:800
}

.check-box input {
  position: relative;
  z-index: -9999;
}

.checkbox-mobile {
    display:none;
}

.main-content input.checkbox-round{
  -ms-transform: scale(2); 
  -moz-transform: scale(2); 
  -webkit-transform: scale(2); 
  transform: scale(2);
  padding: 10px;
  margin-top:40px;
}



/****** END Newsletter Body Section    */


/*  Submission Section    */


div.submit-container{
    max-width: 431px;
    margin: 0 auto;
}

button.submit-button {
    margin: 0 auto;
    display: block;
    width: 100%;
}

/***** END Submission Section    */


/* MODAL Section  */

div.image-box:hover {
    opacity: 0.7;
    cursor:pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/**** END Modal Section */





@media(max-width:575.98px) {
    h1.news-title {
        font-size:14px;
        font-weight:800;
        text-align:center;
        margin-top:1em;
    }

    p.subttitle-title {
        font-size:8px;
        font-weight:800;
        text-align:center;
    }

    div.image-box {
        margin: 0 auto;
    }

    .main-content input.checkbox-round{
       transform: scale(2);
    padding: 10px;
    margin-top: 0px;  
    float: right;
    position: relative;
    bottom: 30px;
    }

    div.main-content {
        margin-top:1em;
        margin-bottom:1em;
    }

    .checkbox-mobile {
        -ms-transform: scale(1.5); 
        -moz-transform: scale(1.5); 
        -webkit-transform: scale(1.5); 
        transform: scale(1.5);
        padding: 0px;
        margin-top:0px;
        position:relative;
        left:3px;
        top:3px;
        display:block;
    }

}